{% extends "base.html" %}

{% block title %}Search Vehicles{% endblock %}

{% block content %}
<h3 class="center-align">Estimate the price of your vehicle</h3>
<form method="post" class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="year" name="year" placeholder="Enter year">
        </div>
        <div class="input-field col s12">
            <input type="text" id="make" name="make" placeholder="Enter make">
        </div>
        <div class="input-field col s12">
            <input type="text" id="model" name="model" placeholder="Enter model">
        </div>
        <div class="input-field col s12">
            <input type="text" id="mileage" name="mileage" placeholder="Enter mileage">
        </div>
    </div>
    <div class="center-align">
        <button class="btn waves-effect waves-light blue" type="submit" name="action">Estimate
            <i class="material-icons right">search</i>
        </button>
    </div>
</form>
{% endblock %} 